In [90]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [91]:
import pandas as pd
import numpy as np
from datasurfer.lib_objects.pdf_object import PDFPagesObject
from datasurfer.lib_objects.docx_object import DOCXObject
from datasurfer.datautils import xml_valid_df

In [92]:
pobj = PDFPagesObject(r'D:\02_Translation\01_Künstliche_Intelligenz_für_Ingenieure\KII.pdf', range(69-1, 116))
fdst = 'KII_Chapter_03_Original.xlsx'

In [93]:
annos = ['© Walter de Gruyter GmbH Berlin Boston. All rights reserved. \n',
 'This work may not be translated, copied or made publicly accessible in whole or part without the written permission of the publisher  \n',
 '(Walter De Gruyter GmbH, Genthiner Straße 13, 10785 Berlin, Germany). \n',
 'Vertraulich\n']

In [94]:
df = pobj.df[~pd.concat([pobj.df.text == s for s in annos], axis=1).any(axis=1).values]

df

,x0,y0,x1,y1,text,index,type,page_num
0,70.944000,37.439972,73.439857,48.479969,\n,0,0,68
1,70.944000,795.239929,73.439857,806.279968,\n,1,0,68
2,70.944000,50.879974,122.995857,102.260002,\n \n \n \n \n,2,0,68
6,48.168003,444.284119,59.208000,446.779968,\n,6,0,68
7,61.728004,822.336121,72.768005,824.831970,\n,7,0,68
...,...,...,...,...,...,...,...,...
1427,48.168003,444.284119,59.208000,446.779968,\n,6,0,115
1428,61.728004,822.336121,72.768005,824.831970,\n,7,0,115
1429,113.333603,117.544724,490.138763,129.326050,92\n3 Graphensuche\n,8,0,115
1430,113.333603,142.935440,204.789368,156.659775,Literaturhinweise\n,9,0,115
1431,113.331337,167.464828,490.623077,294.926697,Graphensuchalgorithmen sind in vielen Büchern ...,10,0,115

In [95]:

df = df[df.text.str.strip().str.len()>0].reset_index(drop=True)

df['rel_pagenum'] = df.page_num - df.page_num.min()

df

,x0,y0,x1,y1,text,index,type,page_num,rel_pagenum
0,426.054108,213.080688,481.844788,312.706879,3\n,8,0,68,0
1,363.653992,315.166351,481.391724,342.317535,Graphensuche\n,9,0,68,0
2,121.341492,384.741638,466.999084,445.587585,Dieses Kapitel behandelt die Grundidee von Suc...,10,0,68,0
3,104.933502,486.496124,303.948364,500.220490,3.1 Grundbegriffe der Graphentheorie\n,11,0,68,0
4,104.933502,509.828705,196.862106,521.266235,3.1.1 Vorgehensweise\n,12,0,68,0
...,...,...,...,...,...,...,...,...,...
993,104.932228,294.455505,482.330963,427.302124,(vgl. Algorithmus 3.1). Dieser Lösungsschritt ...,12,0,114,46
994,104.942192,437.374695,482.370758,665.547363,"Weitere Begriffe. Einige, später für die Wisse...",13,0,114,46
995,113.333603,117.544724,490.138763,129.326050,92\n3 Graphensuche\n,8,0,115,47
996,113.333603,142.935440,204.789368,156.659775,Literaturhinweise\n,9,0,115,47
997,113.331337,167.464828,490.623077,294.926697,Graphensuchalgorithmen sind in vielen Büchern ...,10,0,115,47

In [96]:
df[df.rel_pagenum == 1]

,x0,y0,x1,y1,text,index,type,page_num,rel_pagenum
6,113.333603,117.544724,490.138763,129.326050,46\n3 Graphensuche\n,8,0,69,1
7,113.333603,144.787994,233.806183,156.225525,3.1.2 Ungerichtete Graphen\n,9,0,69,1
8,113.333603,165.700302,424.039795,178.951096,Die im Folgenden behandelten Suchprobleme betr...,10,0,69,1
9,277.972198,187.818146,490.572632,200.909531,"G = (V, E),\n(3.1)\n",11,0,69,1
10,113.323647,209.776581,490.393341,234.743881,die durch eine Menge V von Knoten und eine Men...,12,0,69,1
11,277.743073,245.952271,325.983948,256.134460,"E ⊆V × V,\n",13,0,69,1
12,113.343620,265.569427,490.702484,290.536713,wobei × das kartesische Produkt kennzeichnet. ...,14,0,69,1
13,266.714050,301.745087,337.411499,311.927277,"V = {1, 2, ..., n}.\n",15,0,69,1
14,113.363541,321.362244,490.762299,382.196320,Im Folgenden werden ungerichtete Graphen betra...,16,0,69,1
15,367.511993,422.649170,372.117493,432.679962,4\n,17,0,69,1
16,232.378815,442.713165,236.984314,452.743958,1\n,18,0,69,1
17,325.561981,403.071075,330.167480,413.101868,3\n,19,0,69,1
18,247.255798,493.506256,251.861298,503.537048,8\n,20,0,69,1
19,273.358917,417.988068,277.964417,428.018860,2\n,21,0,69,1
20,266.832916,464.604156,271.438416,474.634949,7\n,22,0,69,1
21,331.156006,445.958160,335.761505,455.988953,5\n,23,0,69,1
22,316.239899,483.250153,320.845398,493.280945,6\n,24,0,69,1
23,248.486816,424.340942,252.439819,432.950592,4\n,25,0,69,1
24,299.425171,405.698578,353.122711,416.063354,7\n6\n,26,0,69,1
25,308.153381,428.072540,349.391083,440.413818,2\n3\n,27,0,69,1
26,252.218445,450.446533,299.654449,459.056183,5\n8\n,28,0,69,1
27,253.451782,467.112396,337.690216,488.846008,10\n1\n9\n,29,0,69,1
28,268.853790,516.785522,330.333649,528.566833,Abb. 3.1: Graph\n,30,0,69,1
29,113.319374,547.461670,490.837677,680.029358,Die vielfältige Verwendung von Graphen beruht ...,31,0,69,1

In [97]:

def remove_title_line(df):
    count = 0
    for i, (text, num) in df[['text', 'rel_pagenum']].iterrows():  
        if num > count:
            count += 1       
        else:        
            yield([text, num])
        
out0 = list(remove_title_line(df))

In [98]:
def split_paragraph(text, threshold=0.8):
    
    lst_text = np.array([txt for txt in text.split('\n') if txt.strip()])
    larr = np.array([len(txt) for txt in lst_text])
    isnewline = larr < (larr.max() * threshold)
    
    out = ''
    for isnl, txt in zip(isnewline, lst_text):
        if isnl:
            out += txt
            yield out
            out = ''
        else:
            out += txt.rstrip('-')
            
    if len(out) > 0:      
        yield out

In [99]:

def merge_paragraphs(out0):
    count = 0 

    for text, num in out0:
        for txt in split_paragraph(text):
            yield [txt, num]
            
out1 = list(merge_paragraphs(out0))

In [100]:

def merge_paragraphs(out1):
    
    iterator = iter(out1)
    line0, num0 = next(iterator)
    while True:
        try:       
            line1, num1 = next(iterator)
        except StopIteration:
            yield line0, num0
            break
        if num1 > num0:
        
            if not line1[0].isupper() and line0.strip()[-1] not in '.!?:;':
                line = line0 + ' ' + line1
                yield line, num0
                try:
                    line0, num0 = next(iterator)
                except StopIteration:
                    yield line0, num0
                    break
            else:
                yield line0, num0
                line0 = line1
                num0 = num1            
        else:
            yield line0, num0   
            line0 = line1
            num0 = num1
            
out2 = list(merge_paragraphs(out1))

In [127]:
dfout = pd.DataFrame(out2, columns=['Original', 'Page'])
dfout['Translation'] =  None
dfout['Review'] = None

dfout = xml_valid_df(dfout[['Page', 'Original', 'Translation', 'Review']])
dfout.Page = dfout.Page.astype('int') + df.page_num.min() + 1

dfout = dfout[~dfout['Original'].str.isnumeric()]
dfout = dfout[~(dfout['Original'].str.strip().str.len()<2)]

In [128]:
dfout.head()

   Page                                           Original Translation Review
1    69                                       Graphensuche        None   None
2    69  Dieses Kapitel behandelt die Grundidee von Suc...        None   None
3    69               3.1 Grundbegriffe der Graphentheorie        None   None
4    69                               3.1.1 Vorgehensweise        None   None
5    69  Die Suche nach der Lösung eines Wissensverarbe...        None   None

In [ ]:
dfout.to_excel(fdst, index=False)